/* sample.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(image/imgsav.jpeg);
    background-size: cover;
}
nav >a{
    color: rgb(249, 76, 13);
    margin-right: 50px;
  font-weight: bold;
  align-items: end;

  }

  header {
    color: #fff;
    padding: 5px 5px;
    text-align: center;
  }
  nav>a:hover{
    background-color:white;
    box-shadow: 10px 10px bla transparent;
}
.container {
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url(image/img9.jpeg);
    background-size: cover;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    color:white;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.donationDetails {
    display: none;
}
